@(products: List[models.Product])(implicit messages: Messages, flash: Flash)

@main(messages("application.name")) {
    <dl class="products">
    @for(product <- products) {
        <dt>
            <a href="@controllers.routes.Products.show(product.ean)">
                @product.name
            </a>
        </dt>
        <dd>@product.description</dd>
    }
    </dl>

    <p>
        <a href="@controllers.routes.Products.newProduct()" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
            @messages("products.new.command")
        </a>
    </p>
}
